.wireframe {
  border:3px solid rgba(0,0,0,0.5);
  border-radius:20px;
  }
  .wireframe * { border-color:rgba(0,0,0,0.5); }
  .wireframe .dot {
    display:inline-block;
    width:10px;
    height:10px;
    }
    .wireframe .dot.menu {
      width:60px;
      height:60px;
      }
.mask-right { left:auto; right:-1px; }
.z1 { z-index:1; }
.install > div        { display:none; }
.install:target > div { display:block; }

.section-tasks .tooltip .tooltip { display:none; }
.section-method ul *,
.section-method dl * { display:inline; }

/* Mirror what <em class='small quiet'> gives */
.task-item-suffix { font-style:italic; font-size:12px; color:#96A4AB; }

.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #606060; font-style: italic } /* Comment */
.highlight .err { color: #F00000; background-color: #F0A0A0 } /* Error */
.highlight .k { color: #999999;  } /* Keyword */
.highlight .o { color: #303030 } /* Operator */
.highlight .cm { color: #606060; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; } /* Comment.Preproc */
.highlight .c1 { color: #606060; font-style: italic } /* Comment.Single */
.highlight .cs { color: #c00000; ; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080;  } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #808080 } /* Generic.Output */
.highlight .gp { color: #c65d09;  } /* Generic.Prompt */
.highlight .gs {  } /* Generic.Strong */
.highlight .gu { color: #800080;  } /* Generic.Subheading */
.highlight .gt { color: #0040D0 } /* Generic.Traceback */
.highlight .kc { color: #D24400;  } /* Keyword.Constant */
.highlight .nx { color: #388091;  } /* Normal Text */
.highlight .kd { color: #208090;  } /* Keyword.Declaration */
.highlight .kn { color: #208090;  } /* Keyword.Namespace */
.highlight .kp { color: #0080f0;  } /* Keyword.Pseudo */
.highlight .kr { color: #208090;  } /* Keyword.Reserved */
.highlight .kt { color: #999999;  } /* Keyword.Type */
.highlight .m { color: #0000ff;  } /* Literal.Number */
.highlight .s { background-color: #ffffff; color: #75A21C } /* Literal.String */
.highlight .n { color: #4C616D; }
.highlight .na { color: #000070 } /* Name.Attribute */
.highlight .nb { color: #4C616D; } /* Name.Builtin */
.highlight .nc { color: #999999; font-weight: bold; } /* Name.Class */
.highlight .no { color: #50e0d0;  } /* Name.Constant */
.highlight .nd { color: #505050;  } /* Name.Decorator */
.highlight .ni { color: #800000 } /* Name.Entity */
.highlight .ne { color: #F00000;  } /* Name.Exception */
.highlight .nf { color: #4C616D; font-weight: bold;  } /* Name.Function */
.highlight .nl { color: #3887be;  } /* Name.Label */
.highlight .nn { color: #0e84b5;  } /* Name.Namespace */
.highlight .nt { color: #4C616D } /* Name.Tag */
.highlight .nv { color: #003060 } /* Name.Variable */
.highlight .ow { color: #000000;  } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #0000ff;  } /* Literal.Number.Float */
.highlight .mh { color: #0000ff;  } /* Literal.Number.Hex */
.highlight .mi { color: #0000ff;  } /* Literal.Number.Integer */
.highlight .mo { color: #0000ff;  } /* Literal.Number.Oct */
.highlight .sb { background-color: #e0e0ff } /* Literal.String.Backtick */
.highlight .sc { color: #8080F0 } /* Literal.String.Char */
.highlight .sd { color: #D04020 } /* Literal.String.Doc */

.highlight .s1,
.highlight .s2 { color: #3d67a1 } /* Literal.String.Double */
.highlight .p { color: #444;  } /* Normal Text */
.highlight .se { color: #606060; ; background-color: #e0e0ff } /* Literal.String.Escape */
.highlight .sh { background-color: #e0e0ff } /* Literal.String.Heredoc */
.highlight .si { background-color: #e0e0e0 } /* Literal.String.Interpol */
.highlight .sx { color: #f08080; background-color: #e0e0ff } /* Literal.String.Other */
.highlight .sr { color: #000000; background-color: #e0e0ff } /* Literal.String.Regex */
.highlight .ss { color: #f0c080 } /* Literal.String.Symbol */
.highlight .bp { color: #007020 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #c0c0f0 } /* Name.Variable.Class */
.highlight .vg { color: #f08040 } /* Name.Variable.Global */
.highlight .vi { color: #a0a0f0 } /* Name.Variable.Instance */
.highlight .il { color: #6060f0;  } /* Literal.Number.Integer.Long */
