---
layout: default
section: developers
---

{% include header.html %}

<div class='keyline-all clearfix'>
  <div class='prose'>
    {% for item in page.releases %}
    <div class='doc pad4 keyline-bottom'>
      <h2 id='{{item.version|replace:' ', '_'}}'>{{item.version}} {% if item.date %}<small>{{item.date|date:'%B %d %Y'}}</small>{% endif %}</h2>
      <ul class='checklist'>
        {% for item in item.notes %}
        <li class='check'>{{item | markdownify}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
    <div class='small pad2 center'>
      The code and documentation to <a href='https://github.com/mapbox/mapbox-ios-sdk'>mapbox-ios-sdk is hosted on GitHub</a> where you can contribute changes and improvements.
    </div>
  </div>
</div>

{% include developers-footer.html %}
